<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fm.moe.luhuan"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".AppInit"
            android:label="萌否音乐" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MusicBrowse"
            android:label="@string/browse"
            android:launchMode="singleInstance" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activities.SearchableActivity" />
        </activity>
        <activity
            android:name=".MusicPlay"
            android:label="正在播放"
            android:launchMode="singleInstance"
            
             >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activities.SearchableActivity" />
        </activity>
        <activity
            android:name=".SearchableActivity"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/app_search" />
        </activity>
        <activity android:name=".AppPref" >
        </activity>

        <service
            android:name=".service.PlayService"
            android:process=":playback" />
        <service android:name=".service.DownloadService" />
        <service android:name=".service.QueueDownloadService" />
    </application>

</manifest>